@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,800');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #1D0F29;
}

.hide{
  display: none !important;
}

.paper{
  /*background: linear-gradient(130deg, #F8E8E4, #FBFBEC);*/
}
